.addTaskForm {
    color: var(--primaryColor);

}
.addTaskForm .closeIcon{
    color:var(--lightText)
}

.addTaskForm .confirmButton , .addTaskForm .confirmButton:hover{
    background-color: var(--primaryColor);
}