* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primaryColor: #58396e;
    /* Text */
    --primaryText: #2e3d49;
    --secondText: #717171;
    --thirdText: #2361cc;
    --lightText: #ffffff;
    --darkText: #000000;
    --errorText: red;
    --errorText2: #FF002B;
    /* background */
    --primaryBackground: #ffffff;
    --secondBackground: #f5f5f5;
    --thirdBackground: #b4690e;
    --fourthBackground: #329004;
    --fifthBackground: #edf0ec;
    --sixthBackground: #D1D1D121;
    --seventhBackground: #EFEFEF;
    --disabledBackground: #717171;
    /* border */
    --primaryBorder: #2e3d49;
    --secondBorder: #ffffff;
    --thirdBorder: #f5f5f5;
    --fourthBorder: #717171;
    --inputBorder: #d1d1d1;
}

